

.cuerpo-general{
    margin: 0;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    background-attachment: fixed;   
}
.barra-general{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;  
}
#map {
	height: 500px;
	width: 90%;
}
.fondo1{
    background: linear-gradient(to  bottom, #6531A5, #4431adc5);
}
.fondo2{
   
    background-image: url(../img/burbujas.jpg); 
   
}
.fondo2::before{
    content: '';
    width: 100%;
    min-height: 100vh;
    max-height: max-content;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: linear-gradient(to  bottom, #6B39B2, #000000d8,#6B39B2);
    opacity: 0.95;
    z-index: -1;

}
.barra2{
    background-image: url(../img/banner1.jpg);
    
}
.fondo3{
    background: linear-gradient(to  bottom,  #6B39B2,#2A2A28);
}
.barra3{
    background: linear-gradient(to  bottom,  #131213,#6B39B2); 
}

.fondo4{
    background: linear-gradient(to  left,  #FFFFFF,#462476);
    
}
.fondo4::before{
    content: '';
    width: 100%;
    min-height: 100vh;
    max-height: max-content;
    position: fixed;
    top: 0px;
    left: 0;
    bottom: 0;
    background-image: url(../img/ordenes.png);
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: fixed; 
    z-index: -1;
}
.barra4{
    background: linear-gradient(to  bottom,  #6B39B2,#42236F);
    
}


.fondo5{
    background: linear-gradient(to  bottom,  #5B358F,#190B2D);
    min-height: 100vh;
}
.fondo5::before{
    content: '';
    width: 100%;
    min-height: 100vh;
    max-height: max-content;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-image: url(../img/listo.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center ;
    background-attachment: fixed; 
    
    z-index: -1;
}
.fondo6{
    background: linear-gradient(to  left,  #5B358F,#FFFFFF);
    min-height: 100vh;
}


.texto{
    font-size: 14px;
}

.sombra1{
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.5);
}
.sombra2{
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.253);
}
.sombra3{
    box-shadow: 5px 5px 5px 3px #2a2a287c;
}
.sombra4{
    box-shadow: 0px 0px 5px 4px #6b39b236;
}
.disenos{
    
    width:100%;
    padding-bottom: 20px;
    background-color:#DDDDDD;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.boton{
    border-radius: 10px;
    background: linear-gradient(to  right, #125D98, #1EAE98);
    box-shadow: 4px 4px 3px  #00000081;
}
.boton2{
    border-radius: 10px;
    background: linear-gradient(to  right, #125D98, #541274);
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 4px  #00000081;
}
.boton3{
    border-radius: 10px;
    background: linear-gradient(to  right, #125D98, #541274);
    
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 4px  #00000081;  
}
.bt{
    border-radius: 10px;
   
   
}
.bt1{
    background: linear-gradient(to  right, #2578B9, #23ad8a);
}
.bt2{
    background: linear-gradient(to  right, #1e75b8, #18ad88);
}
.bt3{
    background: linear-gradient(to  right, #1270b8, #07b98d);
}
.bt4{
    background: linear-gradient(to  right, #1EAE98, #1eae72);
}
.bt5{
    background: linear-gradient(to  right, #13b39b, #0fb16d);
}

.barra{
    background-color: rgba(0, 0, 0, 0.253)!important;
    
    color: #fff;
    
}

.contenedor{
   
   
    
    padding-left: 20px;
    padding-right: 20px;
    
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    
}
.imput{
    border-radius: 20px;
    height: 50px;
    
    border-color: #1EAE98;
}
.imput2{
    border-radius: 20px;
    height: 40px;
    width: 80%;
    
}
.error{
    
    border-style: unset;
    border-width: 2px;
    border-color: rgb(175, 17, 17);
    
}
.ctm{
    width: max-content;
}
.c1{
    background-color: #125D98 !important;
}
.c2{
    background-color: #531274b4;
}
.c3{
    color: #FFA754;
}
.c4{
    color: white;
}
.c5{
    background-color: #DDDDDD;
}
.c6{
    background-color: #53127477;
}
.c7{
    color: #1EAE98;
}
.c8{
    color: #ABABFD;
}
.c9{
    background-color: white;
}
.c10{
    background-color: rgba(0, 0, 0, 0.253);
}
.c11{
    background-color: rgba(0, 0, 0, 0.514);
}
.c12{
    background-color: #2A2A28;
}
.c13{
    background-color: #6b39b236;
}
.c14{
    color: #2ea1c4;
}
.c15{
    color: #8ACDED;
}


.conte_texto{
    text-align: center;
    width: 100%;
}
.flex_container{
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
}
.flex_container2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center ;
    
}
.flex_container3{
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: center;
}
.flex_container4{
    display: flex;
    align-items: left;
    justify-content: space-between;
    text-align: left;
   
}
.tamano{
    width: 100%;
}
.tamano2{
    width: 90%;
}
.tamano3{
    width: 60%;
}
.contenedor2{
    border-radius: 0px 20px 0px 20px;
    width: max-content;
    padding: 5px 20px 5px 20px;
    margin-left: auto;
    margin-right: auto;
    
}
.contenedor3{
    border-radius: 0 80px 0 80px;
    padding: 10px;
}
.borde{
    border-style: solid;
    border-color: black;
    border-width: thin;
}
.borde2{
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
}

.base{
   
    height: 80px;
}
.relleno_simple{
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
}

.relleno_simple2{
    
    width:max-content;
    background-color: rgba(0, 0, 0, 0.637);
    border-radius: 10px;
    
}
.sin_borde{
    border-radius: 0;
}
.circulo{
    display: flex;
    
    margin-left: 20px;
    width: 120px;
    height: 120px;
    border-radius: 80px;
    position: relative;
    
}
.circulo2{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 80px;
   
}
.ajustar{
    width: max-content;
}
.info_orden{
    width: max-content;
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    height: 70px;
    border-radius: 10px;
    position: relative;
   
}
.info_orden2{
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    border-radius: 50px;
    position:relative;
}
.info_orden3{
    padding-left: 20px;
    border-radius: 10px;
    position:relative;
    
    
}
.info_orden4{
    padding-left: 20px;
    
    position:relative;
    background-color: rgb(255, 255, 255);
    border-style: solid;
    border-color: black;
    border-width: thin;
    
}
.cursor{
    cursor: pointer;
}
.linea{
    border-top: 1px solid #692a88;
}
.linea2{
    border-bottom: 1px solid #692a88;
}
.caja{
    width: max-content;
    padding: 2px 10px 2px 10px;
}
.dis_bordes{
    border-color: #fff #fff #692a88#fff  ;
    border-style: outset;
    border-width: 3px; ;
}
.dis_bordes2{
    border-color: #fff #fff #1ea9ae #fff  ;
    border-style: outset;
    border-width: 3px; ;
}
.centrar{
    margin-left: auto;
    margin-right: auto;
}

